Faz com que o Python mude o diretório de trabalho atual (current working directory, cwd) para a pasta que você especificou.

In [1]:
import os
os.chdir(r"C:\Users\Laura\Desktop\saeb_microdados_dashboard")

Importa todas as bibliotecas necessárias.

In [2]:
import pandas as pd
from src.ingestion.read_docente import read_docente

Essas transformações garantem que os dados brutos se tornem um DataFrame **limpo, padronizado e legível**, pronto para análise exploratória, criação de indicadores e construção de dashboards.

In [3]:
df_docente = read_docente(1995)
df_docente.head()

,ano,serie,disc,turma,estrato,upa,peso_tc,dep_adm,local,rede,uf,regiao,sexo,idade,escolaridade,participou_cursos,horas_cursos,anos_magisterio,anos_docente,anos_escola,ingresso_concurso,vinculo_trabalhista,carga_horaria,mes_salario,valor_salario,plano_nao_elaborou,plano_carga_horaria,plano_complexidade,plano_dominio,plano_distribuicao,conteudo_desenvolvido,razao_conteudo,tempo_ensino,adotou_livro,alunos_com_livro,grupos_sala,aplica_provas,discute_resultados,usa_jornais,licao_casa,corrige_licao,procedimento_correcao,aprovacao_alunos,acao_medias_baixas,opiniao_aprendizagem,chama_pais,pais_atendem,participou_plano_trabalho,conselho_classe,reunioes_gestao
0,1995,NaN,4L,NaN,1,110,1,417,1,1,1,11,1,2.0,30.0,3.0,1.0,NaN,7.0,8.0,4.0,1.0,2.0,40.0,9.0,325.0,2,1,2,2,2,3.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,3.0,2.0,1.0,2.0,3.0,2.0
1,1995,NaN,8L,NaN,1,110,1,414,1,1,1,11,1,2.0,28.0,4.0,2.0,0.0,9.0,9.0,8.0,1.0,1.0,40.0,9.0,430.0,2,2,1,2,2,2.0,NaN,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0
2,1995,NaN,8L,NaN,2,110,1,414,1,1,1,11,1,2.0,35.0,7.0,2.0,0.0,7.0,7.0,7.0,2.0,2.0,20.0,NaN,388.0,1,2,2,2,2,3.0,NaN,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,3.0,1.0,2.0,1.0,2.0,2.0
3,1995,NaN,3L,NaN,1,110,1,323,1,1,1,11,1,2.0,36.0,6.0,2.0,0.0,10.0,11.0,1.0,1.0,2.0,40.0,NaN,NaN,2,2,1,1,2,4.0,5.0,2.0,1.0,3.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,NaN,2.0,2.0
4,1995,NaN,4L,NaN,1,110,1,417,1,1,1,11,1,1.0,23.0,3.0,1.0,48.0,4.0,4.0,4.0,1.0,1.0,20.0,6.0,NaN,2,2,2,2,1,2.0,NaN,2.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2.0